package ${package}.${moduleName}.service;

import ${package}.${moduleName}.util.PageResult;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.entity.param.${className}Param;


/**
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {

    PageResult<${className}> findPage(${className}Param params);

    ${className} findById(String id);

    boolean insert(${className} ${classname});

    boolean update(${className} ${classname});

    int delete(String id);
}