package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.utils.Pagination;
import org.apache.commons.lang.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;

/**
 * @author ${author}
 * @date ${datetime}
 */
public interface  ${className}Service {

    PageResult<${className}> findPage(${className} ${classname}, Pagination pagination);

    List<${className}> selectList(${className} ${classname});

    ${className} findById(String id);

    int create(${className} ${classname});

    int updateById(${className} ${classname});

    int delete(String id);
}