package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.entity.param.${className}Param;
import ${package}.${moduleName}.utils.Pagination;
import org.apache.commons.lang.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import lombok.extern.slf4j.Slf4j;

import java.util.List;

/**
 * @author ${author}
 * @date ${datetime}
 */
@Service
@Slf4j
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

    @Autowired
    private ${className}Mapper ${classname}Mapper;

    @Override
    public PageResult<${className}> findPage(${className}Param params) {
        Page<${className}> page = PageHelper.startPage(params);
        QueryWrapper<${className}> query = new QueryWrapper();
        List<${className}> list = ${classname}Mapper.selectList(query);
        PageResult<${className}> pageResult = new PageResult<>();
        pageResult.setContent(list);
        pageResult.setTotalElements(page.getTotal());
        return pageResult;
    }

    @Override
    public ${className} findById(String id) {
        return ${classname}Mapper.selectById(id);
    }

    @Override
    public int save(${className} ${classname}) {
        return ${classname}Mapper.insert(${classname});
    }

    @Override
    public int updateById(${className} ${classname}) {
        return ${classname}Mapper.updateById(${classname});
    }

    @Override
    public int delete(String id) {
        return ${classname}Mapper.deleteById(id);
    }
}