package ${package}.${moduleName}.entity.param;

import java.io.Serializable;
import java.util.Date;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.Accessors;
import com.baomidou.mybatisplus.annotation.TableField;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Accessors(chain = true)
public class ${className}Param implements Serializable{

private static final long serialVersionUID=1L;

#foreach ($column in $columns)
/**
 *  $column.comments
 */
@ApiModelProperty("$column.comments")
private ${column.attrType} ${column.LowerAttrName};

#end

/**
 * 页码
 */
@TableField(exist = false)
private int pageNum = 1;

/**
 * 每页大小
 */
@TableField(exist = false)
private int pageSize = 10;
}