package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className};
import org.springframework.stereotype.Component;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 *
 */
@Component
public interface ${className}Mapper {

}
