package ${package}.${moduleName}.service;

import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import com.smcaiot.cloud.common.entity.PageParam;
import com.smcaiot.cloud.common.entity.PageResult;
import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.${moduleName}.service.I${className}Service;
import ${package}.${moduleName}.entity.${className};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import lombok.extern.slf4j.Slf4j;

import java.util.List;

/**
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {

    PageResult<${className}> findPage(${className} ${classname}, PageParam pageParam);

    List<${className}> findAll();

    ${className} findById(String id);

    int save(${className} ${classname});

    int updateById(${className} ${classname});

    int delete(String id);
}