package ${package}.${moduleName}.service;

import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.util.PageResult;
import ${package}.${moduleName}.entity.param.${className}Param;

import java.util.List;

/**
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {

    PageResult<${className}> findPage(${className}Param params);

    List<${className}> findAll();

    ${className} findById(String id);

    int save(${className} ${classname});

    int updateById(${className} ${classname});

    int delete(String id);
}